* {
    margin: 0px;
    border: 0px;
    background-color: #333;
    font-family: 'Roboto', sans-serif;
}
.text {
    background-color: #444;
    color: white;  
    margin: 20px;  
    font-size: 130%; 
}
#content {
    height: 100vh;
    min-height: 600px;
}
#header {    
    position: relative;
    min-width: 500px;
    display: flex;    
    justify-content: center;
    height: 200px;
    min-height: 120px;
    background-color: #444;    
}    
    #title {
        background-color: #444;
        color: white; 
        line-height: 15vh;
        font-size: 360%;
        min-width: 300px;
    }
#menu {
    position: absolute;
    display: flex;
    width: 40vw;  
    min-width: 300px;            
    height: 50px;
    background-color: #333;
    border-radius: 30px 30px 0px 0px;
    top: calc(100% - 50px); 
    justify-content: space-around;
    align-items: center;       
}
    .btn {
        color: white;
        font-size: 110%;
        width: 100px;
        height: 30px;        
        border-radius: 30px;
    }
    .btn:hover {
        cursor: pointer;
        color: red;
    }
#page {    
    min-height: 600px;
    height: calc(100vh - 300px);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;  
    overflow: auto;  
}    
    #welcome-img {
        flex: 1;    
        height: 500px;    
        border-radius: 40px;
        margin: 30px;
        margin-left: 15px;
        margin-right: 15px;
        box-shadow: 10px 10px 0px 0px rgba(255, 255, 255, 0.165);        
    } 
    #welcome-text {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 2;
        height: 500px;
        width: calc(60% - 90px); 
        max-width: 800px;
        min-width: 500px;       
        background-color: #444;
        box-shadow: 10px 10px 0px 0px rgba(255, 255, 255, 0.165);   
        border-radius: 40px;
        margin: 30px;
        margin-left: 15px;
        margin-right: 30px; 
        text-align: center;
        overflow: auto;     
        padding: 10px;    
    }
#footer {
    height: 100px;    
    background-color: #444;    
}